#playbutton {
    border: none;
    background: none;
    cursor: pointer;
}

#pausebutton {
    border: none;
    background: none;
    cursor: pointer;
}

#play-img {
    width: 50px;
    height: 50px;
}

#pause-img {
    width: 50px;
    height: 50px;
}
